<div class='container row justify-content-center shadow-sm p-3 mb-5 bg-body rounded'>
    <div class='card col justify-content-center shadow-sm p-3 mb-5 bg-body rounded'>
        <h1 class='card-header rounded'>Contact</h1>
    </div>
</div>

<div class='container row justify-content-center shadow-sm p-3 mb-5 bg-body rounded'>
    <div class='card col justify-content-center shadow-sm p-3 mb-5 bg-body rounded'>
        <div class='card-text rounded text-center'>
            <p> If you wish to contact me about any opportunities. you may reach me at.</p>
            <h4>test-email@fake.ca</h4>
        </div>
    </div>
</div>