<div class='container row justify-content-center shadow-sm p-3 mb-5 bg-body rounded'>
    <div class='card col justify-content-center shadow-sm p-3 mb-5 bg-body rounded'>
        <h1 class='card-header rounded'>Adam Dera</h1>
        <h2 class='card-header rounded'>A light-speed learner, and an adept problem solver.</h2>
    </div>
</div>