<div class='container row justify-content-center shadow-sm p-3 mb-5 bg-body rounded'>
    <h1 class='card-header rounded'>About Me</h1>
</div>

<div class='container row justify-content-center shadow-sm p-3 mb-5 bg-body rounded'>
    <div class='card col'>
    <img class='rounded photo' src='achievement.png' alt='Achievement photo'/>
    </div>
    <div class='card col '>
    <img class='rounded photo' src='about-me-img.png' alt='Self Portrait'/>
    </div>
    <div class='card col '>
    <img class='rounded photo' src='code-photo.png' alt='Computer Code photo' />
    </div>
</div>

<div class='container row justify-content-center'>

    <section class='card col shadow-sm p-3 mb-5 bg-body rounded'>
        <h2 class='card-header rounded'>My Philosophy</h2>
        <p class='card-text text-center rounded'>I have found that self-improvement comes to those who can evaluate and take inventory of their achievements in any aspect of their lives. Seeking advice and knowledge from friends and/or professionals is key to reshaping my perspective on how I am perceived. With this belief, I can write better code, and expand my skills as needed with little trouble. Being a programmer is also being a dedicated lifelong learner, and so understanding my style of learning, my critical flaws, and having an eye on the path forward, are crucial to self-improvement, and will make me a stellar addition to any team.</p>
    </section>

    <section class='card col shadow-sm p-3 mb-5 bg-body rounded'>
        <h2 class='card-header rounded'>My Story</h2>
        <p class='card-text text-center rounded'>Born and raised in Newmarket, Ontario. I have always had a deep curiosity for technology, especially logic and code. My parents deeply encouraged exploration and curiosity as I grew up and it led me to a fascination with programming, and software engineering. While I initially did not seek to study programming, after a period where I felt like I wasn't sure what I could do with my professional life, I decided recently to learn to code. After some online courses and activities, I learned that not only did I enjoy the practice, but that I was quite good at absorbing concepts and practices in the field. I began my studies at Georgian College in 2019, and am ready to enter into the workforce and contribute to the ever growing list of web apps, sites and servces that can be found on the modern internet.</p>
    </section>

    <section class='card col shadow-sm p-3 mb-5 bg-body rounded'>
        <h2 class='card-header rounded'>My Qualifications</h2>
        <div class='card-text rounded'>
        <p class='text-center'>Learning is a passion, and I have sought out many common languages and techonolgies in my studies.</p>
        <h3 class='card-title rounded'>I have knowledge in:</h3>
        <ul class='list-group list-group-flush'>
            <li class='list-group-item'>Java</li>
            <li class='list-group-item'>C#</li>
            <li class='list-group-item'>HTML/CSS</li>
            <li class='list-group-item'>JavaScript</li>
            <li class='list-group-item'>Node.js</li>
            <li class='list-group-item'>React</li>
            <li class='list-group-item'>Express</li>
            <li class='list-group-item'>Python</li>
        </ul>

        <p class='text-center'>
            While these are among my skills, it should also be noted that I am incredibly adept at learning new technologies and practices. I am always be learning something new so that I can grow my skill set. If your curious about what I am learning now or if you want to reach out about an opportunity. you can contact me <a class='btn btn-outline-dark' href='index.hbs'>at this link</a>
        </p>
        </div>
    </section>
</div>