<div class='container row justify-content-center shadow-sm p-3 mb-5 bg-body rounded'>
    <div class='card col justify-content-center shadow-sm p-3 mb-5 bg-body rounded'>
        <h1 class='card-header rounded'>Projects of interest</h1>
    </div>
</div>
<div class='card col justify-content-center shadow-sm p-3 mb-5 bg-body rounded'>
    <h1 class='card-header rounded'>Check out my GitHub</h1>
    <div  class='card-text rounded'>
        <p class='text-center'>You will find some school projects and source code of interest to you</p>
        <a class='btn btn-outline-dark'  href='{{GitLink}}'>Check it out!</a>
    </div>
</div>

<div class='card col justify-content-center shadow-sm p-3 mb-5 bg-body rounded'>
    <h2 class='card-header rounded'>WatchTower App</h2>
    <div class='card-text rounded'>
        <p class='text-center'>
            Web app made using the ASP.NET MVC framework. This site empowers you to track your shows across networks, be they streaming, cable, or on physical media. Implementing OAuth for external accounts, as well as enabling registration for local accounts. No longer deployed, it is available on GitHub under <a class='btn btn-outline-dark'  href='https://github.com/ADera1220/COMP2084-Assignment2B'>this Repository</a>
        </p>
    </div>
</div>