<h1>Projects of interest</h1>

<div>
    <h1>Check out my GitHub</h1>
    <p>You will find some school projects and source code of interest to you</p>
    <a href='{{GitLink}}'>Check it out!</a>
</div>

<div>
    <h2>WatchTower App</h2>
    <p>Web app made using the ASP.NET MVC framework. This site empowers you to track your shows across networks, be they streaming, cable, or on physical media. Implementing OAuth for external accounts, as well as enabling registration for local accounts. No longer deployed, it is available on GitHub under <a href='https://github.com/ADera1220/COMP2084-Assignment2B'>this Repository</a></p>
</div>